{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <ul class="d-grid my-3 list-unstyled small">
          <li class="mx-auto justify-content-center">
            <div>
              <img src="{% static 'img/avatar1.png' %}" alt="#" style="object-fit: contain" width="150px" height="150px">
            </div>
          </li>
          <li class="mx-auto justify-content-center mb-4">
            <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
            <div>
              <h5 class="mb-0">Профиль: {{ user.username }}</h5>
            </div>
          </li>
          <li class="d-flex gap-4 mb-2">
            <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
            <div>
              <h5 class="mb-0">Статус аккаунта</h5>
              {{ user.user_status.capitalize }}
            </div>
          </li>
          <li class="d-flex gap-4 mb-2">
            <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
            <div>
              <h5 class="mb-0">Дата окончания подписки</h5>
              {{ end_date }}
            </div>
          </li>
          <li class="d-flex gap-4">
            <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
            <div>
              <details>
                <summary class="mb-0">Ваш персональный токен для входа</summary>
                <div>{{ token }}</div>
              </details>
            </div>
          </li>
        </ul>
        <a href="{% url 'user:settings' request.user.pk %}" type="button" class="btn btn-lg btn-primary  w-100" data-bs-dismiss="modal">
          Настройки
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}